.Preview-container{
    display: flex;
    width: clamp(55ch, 40%, 1000px);
    height: 120px;
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, .3);
    padding: .5rem;
    border-radius: .3rem;
    margin: 1rem;
}

.Preview-container > div:nth-child(1){
    width: 35%;
    display: flex;
    align-items: center;
}

.Preview-container > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Preview-container > div:nth-child(2) {
    width: 65%;
    padding: 0 .5rem .5rem .5rem;
    display: flex;
    flex-direction: column;
}

.Preview-container > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    align-items: center;
    margin: 0;
}

.Preview-container > div:nth-child(2) > div:nth-child(1) > img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.Preview-container > div:nth-child(2) > div:nth-child(1) > a {
    all: unset;
    cursor: pointer;
}

.Preview-container > div:nth-child(2) > div:nth-child(1) > a:hover {
    text-decoration: underline;
}

.Preview-container > div:nth-child(2) > p {
    margin-top: 0.5rem;
}